
.header1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.github-profile{
  margin: 1rem;
}
.info{
  display: inline-block;
  margin-left: 10px;
}
img{
  width: 75px;
}
.name{
  font-weight: bold;
}
.email, .location{
  height: 75px;
}